body {
    background-color: #f0f8ff;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #ffffff;
}

.container-fluid {
    margin-top: 0 !important;
    padding: 0 !important;
    overflow-y: auto;
    position: relative;
    height: 90vh;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 20px;
    color: #0288d1;
}

.card-text {
    font-size: 16px;
    color: #555;
}

h1 {
    font-size: 5vw;
    color: #01579b;
}

p {
    font-size: 2.8vw;
    color: #555;
}

.card.validé {
    border: 2px solid green;
}

.card.refusé {
    border: 2px solid red;
}

.card.en-attente {
    border: 2px solid gray;
}

.badge.bg-info {
    background-color: #80d8ff;
    color: #000;
}

@media (max-width: 1190px) {
    .col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 768px) {
    .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.card.rejeté {
    border: 5px solid red;
}

.card.validé, .card.accepter {
    border: 5px solid green;
}

.card.attente {
    border: 5px solid #c4c418;
}

.card.sans-cv {
    border: 5px solid gray;
}

.department-label {
    display: block;
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}
