.internship-card {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-radius: 1em !important;
}

.internship-image {
    flex: 1;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    place-content: center;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.overlay p {
    font-size: 2rem;
}


.input-group {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ced4da;
    border-radius: 0.5em;
    overflow: hidden;
}

.input-group:focus-within {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #80bdff;
}

.search-input {
    border: none;
    padding: 0.75em;
    font-size: 1rem;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    flex: 1;
}

.search-input:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-color: #80bdff;
}

.search-input:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #80bdff;
    outline: none;
}

.input-group-text {
    background-color: #fff;
    border: none;
    padding: 0.75em;
    font-size: 1rem;
    display: flex;
    align-items: center;
    height: 100%;
}

.input-group-append .btn {
    border-radius: 0 0.5em 0.5em 0;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, background-color 0.5s ease;
    height: 100%;
}

.input-group-append .btn:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}

.vertical-bar {
    font-size: 1.5rem;
    color: #ced4da;
    user-select: none;
    margin: auto;
}