.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: white;
}

.container-fluid {
    margin-top: 0 !important;
    padding: 0 !important;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05); /* Légèrement agrandir la carte */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée */
}
