body {
    background-color: #f0f8ff;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #ffffff;
}

.container-fluid {
    margin-top: 0 !important;
    padding: 0 !important;
    overflow-y: auto;
    position: relative;
    height: 90vh;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 20px;
    color: #0288d1;
}

.card-text {
    font-size: 16px;
    color: #555;
}

h1 {
    font-size: 5vw;
    color: #01579b;
}

p {
    font-size: 2.8vw;
    color: #555;
}

.card.validé {
    border: 2px solid green;
}

.card.refusé {
    border: 2px solid red;
}

.card.en-attente {
    border: 2px solid gray;
}

.badge.bg-info {
    background-color: #80d8ff;
    color: #000;
}

@media (max-width: 1190px) {
    .col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 768px) {
    .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.card.rejeté {
    border: 5px solid red;
}

.card.validé, .card.accepter, .card.signer {
    border: 5px solid green;
}

.card.attente, .card.pasSigner {
    border: 5px solid #eacb05;
}

.card.aucuncv {
    border: 5px solid gray;
}

.department-label {
    display: block;
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}

.custom-badge {
    color: white;
    font-weight: 700;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.badge.rejeté {
    background-color: red;
}

.badge.validé, .badge.accepter, .badge.signer {
    background-color: green;
}

.badge.attente, .badge.pasSigner {
    background-color: #eacb05;
}

.badge.aucuncv {
    background-color: gray;
    color: white;
}


@media (max-width: 768px) {
    .custom-badge {
        font-size: 12px;
        padding: 0.25rem 0.5rem;
    }
}

@media (min-width: 769px) {
    .custom-badge {
        font-size: 16px;
        padding: 0.5rem 1rem;
    }
}

details {
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

summary {
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-radius: 5px 5px 0 0;
}

summary:hover {
    background-color: #0056b3;
}

details[open] summary {
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
}

details > .row {
    padding: 1rem;
}
