.mes-entrevues-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
}

.page-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #343a40;
}

.no-offres-alert {
    font-size: 1.2rem;
    background-color: #ffefef;
    border: 1px solid #ffcccc;
    color: #ff6b6b;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.offre-card {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 2em !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    min-height: 10em;
}

.offre-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: #007bff;
    margin-bottom: 10px;
}

.entrevue-list {
    list-style-type: none;
    padding-left: 0;
}

.entrevue-item {
    background-color: #e9ecef;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.entrevue-details {
    font-size: 0.9rem;
    color: #6c757d;
}

.status-message {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}


.entrevue-actions {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.icon-block {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon-accept {
    color: #28a745;
    font-size: 24px;
}

.icon-refuse {
    color: #dc3545;
    font-size: 24px;
}

.icon-block:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.05);
}

.icon-block:active {
    transform: scale(0.95);
}

/*.icon-block {*/
/*    display: inline-block;*/
/*    padding: 10px;*/
/*    background-color: whitesmoke;*/
/*    border: 1px solid black;*/
/*    cursor: pointer;*/
/*    margin-right: 5px;*/
/*}*/

/*.icon-accept {*/
/*    color: green;*/
/*}*/

/*.icon-refuse {*/
/*    color: red;*/
/*}*/