.entrevuesTitreBox {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.entrevueBox {
    border: black 0.15em solid;
    border-radius: 1em;
    height: 50vh;
    overflow-y: auto;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    border-bottom: 2px solid #007bff;
}

.modal-body {
    background-color: #f8f9fa;
    border-radius: 10px;
}


.card-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}
.button {
    display: inline-block;
    padding: 8px 12px; /* Réduire le padding pour un bouton plus compact */
    font-size: 14px; /* Taille de police plus petite */
    font-weight: bold;
    color: white;
    border-radius: 4px; /* Coins légèrement arrondis */
    border: none;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12); /* Ombre 3D plus discrète */
    transition: all 0.2s ease;
    position: relative;
    text-transform: uppercase;
    background-color: transparent;
}

.button:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Réduction de l'ombre lors du clic */
    transform: translateY(1px); /* Effet d'enfoncement */
}

.button-green {
    background-color: #28a745; /* Couleur verte pour "Accepter" */
}

.button-red {
    background-color: #dc3545; /* Couleur rouge pour "Refuser" */
}

.button::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    background: linear-gradient(45deg, rgba(255,255,255,0.3), rgba(255,255,255,0));
    pointer-events: none;
}

.button:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.18); /* Ombre plus prononcée au survol */
    transform: translateY(-1px); /* Légère remontée au survol */
}

.icon {
    margin-left: 5px; /* Réduire l'espacement entre le texte et l'icône */
    font-size: 12px; /* Taille réduite pour l'icône */
}
